<!DOCTYPE html>
<html ng-controller="AppController">
<head lang="en">
    <meta charset="UTF-8">
    <title>ICD Finder</title>
</head>
<body>

<h1>ICD Code Lookup</h1>

<div class="row col-md-12">
    <input class="form-control" ng-model="search" placeholder="search...">
</div>


<div ng-repeat="c in codeList | filter:search">

    <div>
        {{c.code}},
        {{c.description}},
        {{c.block}},
        {{c.chapter}}
    </div>

</div>

<script src="lib/angular.js"></script>
<script src="lib/angular-route.js"></script>
<script src="icdCodes.js"></script>
<script data-main="main.js" src="lib/require.js"></script>


</body>
</html>